body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: none;
}

a:hover {
    background-color: transparent;
}

.navbar {
    background-color: transparent;
    border: none;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #ffffff;
    font-size: 18px;
}

.navbar-nav .nav-link:hover {
    color: #45a049;
}

.files {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 5px 0;
}

.files a {
    display: inline;
    background-color: inherit;
    padding: inherit;
    margin: inherit;
    border-radius: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: inherit;
}

.files h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.files ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 15px;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.files li {
    margin: 5px 0;
    word-break: break-word;
    white-space: pre-wrap;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #cccccc;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

tr:hover {
    background-color: #f5f5f5;
}

.footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #cccccc;
}

.dropdown-menu {
    min-width: 100%; /* 宽度至少与其父元素的宽度相同 */
    margin-left: -100px; /* 向左移动 100px */
}

.navbar-custom {
    background-color: #d1e7dd;
}


.connection-status {
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.connection-status .connection-info {
    display: flex;
    flex-direction: column; /* 修改为列布局 */
    align-items: center; /* 居中对齐 */
}

.connection-status p {
    margin: 5px 0; /* 添加一些上下间距 */
}